.maindiv {
  display: block;
  padding: 5%;
}

.topic1 {
  margin-left: 40%;
  font-size: xx-large;
}

.addbtn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.search {
  margin-bottom: 0%;
  margin-left: 45%;
  width: 40%;
}

.stafftable {
  margin-top: 0px;
  width: 95%;
  margin: 10px;
  border: 10px;
}

.stafftable th {
  text-align: center;
  height: 40px;
  background-color: rgb(171, 202, 245);
}
.stafftable td {
  text-align: center;
  padding: 20px;
}
