.add_btn {
    text-align:center;
  }
  
  .container {
    overflow: auto;
    display: flex; 
    justify-content: center;
    width: 100%;  
    height: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .left_view h3 {
    font-size: 21px;
  }
  
  .left_view p {
    font-weight: 600;
  }
  
  .left_view span {
    font-weight: 400;
  }
  
  .right_view p {
    font-weight: 600;
  }
  
  .right_view span {
    font-weight: 400;
  }

  @keyframes fadeinslow {
    0% {opacity: 0;}
    40% {opacity: 0; }
    100% {opacity: 1; }
}

.content {
    
    height: 100px;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.head {
  text-align: center;
}




