.App {
  text-align: center;
  animation: fadein 0.5s ease-in;
}
.basic{
  text-align: center;
  animation: fadetranslate 0.5s ease-in;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.round-edge-div {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 60%;
  box-shadow: 2px 2px 4px #989898;
}

.logo-img {
  width: 45%;
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000057;
}
.header-logo{
  transform: translate(150%, 130%) scale(330%);
  width: 20%;
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000057;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(193, 193, 193);
  margin-bottom: 10px;
}

.button {
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  border: 0px;
  color: white;
  background-color: #2A628F;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 0px #989898;
}
.button:hover {
  background-color: #5a86a9;
  box-shadow: 2px 2px 4px #989898;
}
.button::active {
  border: 2px solid #00ADA3;
}

a{
  text-decoration: none;
  color: white;
}

.header{
  height: 10%;
}
.flex-container{
  display: flex;
  background-color: #00ADA3;
}
.flex-child{
  flex: 1;
  padding: 10px;
  margin: 10px;
  background-color: #ff5f5ffe;
}

.navlink{
  margin-left: 10%;
  font-weight: lighter;
}
.active{
  font-weight: bolder;
}
.right-align{
  text-align: right;
}
#profile{
  display: flex;
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
}

#username{
  color: white;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
}
#userRole{
  color: white;
  font-weight: lighter;
  margin-top: 1px;
  margin-bottom: 0px;
}
#logo{
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
}
#profilePic{
  background-color: white;
  transform: scale(80%) translate(-40%, 10%);
  flex-basis: 75px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50px;
}
#profileImg{
  transform: translate(-18%, 0%);
}


@keyframes fadein {
  from { 
    opacity: 0;
  }
  to   { 
    opacity: 1; 
  }
}
@keyframes fadetranlate {
  from { 
    opacity: 0;
    transform: translate(0%, -10%);
  }
  to   { 
    opacity: 1; 
    transform: translate(0%, 0%);
  }
}