body {
    background-color: #F3F3F3;
}

.head {
    text-align: center;
    padding-top: 70px;
}

.table1 {
    margin: auto;
}

.patienttable {
    margin: auto;
    padding-top: 0px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #989898;
}

th, td {
    padding: 10px;
}