body {
    background-color: #F3F3F3;
}

.headerPatients {
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
}

.table1 {
    margin: auto;
}

.patienttable {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #989898;
}

.addpatient {
    margin: auto;
    padding-top: 25px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #989898;
}

th {
    font-size: 20px;
    width: 15%;
    background-color: transparent;
}

td {
    text-align: center;
    padding-top: 20px;
}

.view-icon {
    cursor: pointer;
    opacity: 35%;
    width: 20px;
    height:20px;
    margin: auto;
}