
#newPatient{
    float: right;
    width: auto;
    margin-right: 18%;
    margin-top: 110px;   
}

#PatientSearch{
    float: left;
    width: auto;
    margin-left: 2%;
    height: 46px;
    margin-top: 110px;   
}

#searchBox{
    float: left;
    width: 270px;
    height: 18px;
    border-color: rgb(123, 193, 234);
    margin-left: 18%;
    margin-top: 112px;   
}