
#newPatient{
    float: right;
    width: auto;
    margin-right: 15%;
    margin-top: -60px;
}

#PatientSearch{
    float: left;
    width: auto;
    margin-left: 2%;
    margin-top: 40px;   
}

#ViewReceipts{
    float: left;
    width: auto;
    margin-left: 15%;
    margin-top: 120px;
}

#searchBox{
    float: left;
    width: 270px;
    height: 19px;
    border-color: rgb(123, 193, 234);
    margin-left: 15%;
    margin-top: 42px;   
}

#leftText{
    margin-top: 65px;
    margin-left: 15%;
}

#Clearbtn{
    border-radius: 16px;
    width: fit-content;
    margin-left: 210px;
    height:fit-content;
    font-size: small;
    background-color:#adc2c8;
    color: black;

}

#appointType{
    margin-top: 15%;
   text-align: center;
}

.AppointTable{
    padding: 1%;
   border: 0px;
   margin: auto;
 
}

#Atd{
    padding: 30px;
    background-color: rgb(222, 238, 240);
}

#type{
    padding: 10px;
    border: 0px;
    font-size: medium;
    
}

#Atd:hover{
   
    cursor: pointer;
    
}

#type:focus{
    background-color: #9fcedc;
    cursor: pointer;
    
}

.receiptprint {
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#ReceiptLogo{
    border-radius: 35%;
    width: 120px;
    margin-top: 5px;
}

#paymentH2{
    margin-top: 5px;
}

#makeAppoint{
    float: right;
    width: auto;
    margin-right: 15%;
    margin-bottom: 5%;
    
}

#receipt{
    text-align: center;
    background-color: rgb(239, 238, 238);
    margin-top: 3%;
    margin-bottom: 3%;    
}


#receiptCell{ 
    text-align: left;
    padding: 20px;
    background-color: rgb(255, 255, 255);    
    border-bottom: 1px solid rgb(145, 188, 245);
    
}

#receiptTable{ 
    text-align: left;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);    
}



#receiptstable {
    margin-top: 3%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(255, 255, 255);
    width: 75%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #989898;
}

#cancelReceipt{
    margin-left: 320px;
    
}