.searchInputs {
    margin-top: 105px;
    display: flex;
  }
  
  #search input {
    float: left;
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
    padding: 15px;
    height: 30px;
    width: 300px;
    margin-left: 15%;
    margin-top: 0px;   
    
  }
  
  .searchIcon {
    float: left;
    height: 60px;
    width: 50px;
    color: #2A628F;
    background-color: white;
    display: grid;
    place-items: center;
    margin-top: 0px; 
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
   
    margin-left: 15%;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 3px;
    overflow: hidden;
    overflow-y: visible;
    overflow-block: visible;
    position: absolute;
    
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
 
  
  .hover:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  .patientdetails{
    float: left;
    margin-left:15%;
    margin-top: 5%;
  }