.grid-wrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 4fr;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.247);
}

.grid-child {
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
    height: 34em;
}


#PORoot, #POList {
    overflow-y: scroll;
}

.normal-text {
    color: black;
}
.bold-text {
    font-weight: bolder;
    color: black;
}

.left-align {
    text-align: left;
}

ul {
    list-style-type: none;
}
li {
    transition: 0.3s ease;
    border-radius: 10px;
    padding: 10px 5px;
    width: 95%;
    transform: translate(-10%, 0%);
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
li:hover {
    background-color: rgba(0, 0, 0, 0.150);
}

.prompt {
    justify-content: center;
    transform: translate(0%, 1100%);
    color: rgba(0, 0, 0, 0.312);
    font-style: italic;
}