body {
    background-color: #F3F3F3;
}

.denethahead {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(21, 149, 189);
    text-align: left;
    margin-left: 100px;
    padding-top: 10px;
    position: relative;
}

.headPatient {
    font-size: 22px;
    text-align: left;
    margin-left: 100px;
    padding-top: 3px;
    position: relative;
}

.patienttable {
    margin-left: 340px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    width: 45%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #989898;
    position: absolute;
}

.patientform {
    margin-left: 150px;
}

.table2 {
    margin-left: 150px;
}

.buttonsView {
    margin-top: 50px;
    margin-left: 88px;
}

#updateBtn {
    background-color: #22BB14;
}

#deleteBtn {
    background-color: #F92A2A;
}

.updateBtn:hover {
    background-color: #1a8d10;
}

.deleteBtn:hover {
    background-color: #ad1c1c;
}

#cancelBtn {
    background-color: #2A628F;
}

.cancelBtn:hover {
    background-color: #1f3e58;
}

.print-icon {
    width: 20px;
    height: 20px;
}

#printBtn {
    background-color: #2a628f00;
    margin-left: 85px;
}

.printBtn:hover {
    background-color: #1f3e58;
}

.textfield {
    margin-left: 100px;
}