.a4Patient {
    margin: auto;
    width:80%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.printableTable {
    width: 80%;
    margin: auto;
    font-size: medium;
}
.printpatientTH{
    text-align: left;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);
}
.printpatientTD{
    text-align: left;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);
}
#data {
    margin: auto;
    width: 80%;
}
#po-logo-container {
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;
}
#print-logo {
    width: 150px;
}
#sign {
    margin: auto;
    width: 70%;
}

#printPatientBtn {
    /* background-color: #2a628f00; */
    margin-left: 550px;
    margin-top: 25px;
    margin-bottom: 100px;
}

.printPatient {
    margin-top: 60px;
    height: auto;
}

.printpatient-flex-child {
    flex: 1;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.PrintingButton {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
    border: 0px;
    color: white;
    background-color: #2A628F;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 0px #989898;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}